{% extends "posts/post_base.html" %}
{% load humanize %}

{% block pre_post_content %}
<div class="col-md-4">
	{% if request.user.is_authenticated %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">Your Forums</h5>
			<ul class="list-unstyled">

				{% for member_forum in get_user_forums %}
				<li class="forum li-with-bullet">
					<a href="{% url 'forums:single' slug=member_forum.forum.slug %}">{{ member_forum.forum.name }}</a>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
	{% endif %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">All forums</h5>
			<ul class="list-unstyled">
				{# {% get_other_forums as other_forums %}#}
				{% for other_forum in get_other_forums %}
					<li class="forum li-with-bullet"><a href="{% url 'forums:single' slug=other_forum.slug %}">{{ other_forum.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}


{% block post_content %}

<div class="col-md-8">
	{% for post in post_list %}
  	{% include "posts/_post.html" %}
	{% endfor %}
</div>

{% endblock %}
